@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider top sell -->
<div class="top-list col-md-12 col-12 col-sm-12">
    <div class="row" id="best">
        <div class="col-md-12 col-sm-12 block-header">
            <h1>Top bán chạy</h1>
        </div>
    </div>
</div>

<!-- New products -->
<div class="default-list col-md-12 col-12 col-sm-12">
    <div class="row" id="newlist">
        <div class="col-md-12 col-sm-12 block-header">
            <h1>Điện thoại mới nhất</h1>
        </div>
        <!--load with ajax-->
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="load-more">
                <div class="btn">
                    <button onclick="loadTop4()">Xem thêm</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/homepage.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/index.css">

}
