@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active topsell" data-toggle="tab" href="#menu1">Top bán chạy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link highorders" data-toggle="tab" href="#menu2">Tổng đơn hàng</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container-fluid active" id="menu1">
                    <div class="col-md-12">
                        <div id="linechart_topsell" class="chart"></div>
                    </div>
                </div>
                <div class="tab-pane container-fluid fade" id="menu2">
                    <div class="col-md-12">
                        <div id="linechart_highestorder" class="chart"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@section Scripts {
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/dashboard.js"></script>
}



@section Styles{
<link rel="stylesheet" href="~/css/dashboard.css">
}
