@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Error";
    string code = (string)ViewData["Code"];
}
<div class="col-md-12 d-flex wrapper">
        <h1>Lỗi! @code</h1>
        <p>Hãy liên hệ với quản trị viên!</p>
</div>

@section Styles{
<link rel="stylesheet" href="~/css/error.css">
}